.controls {
  display: table;
}

.control {
  display: table-row;
  padding: 5px 0;
}

.control-name, .control-input {
  display: table-cell;
  vertical-align: middle;
}

.control-name {
  text-align: center;
  padding-bottom: 12px;

  font-size: 1.3rem;
  text-transform: uppercase;
}

.control-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 0 8px 8px;
}

.control-input {
  padding: 3px 5px;
  border-radius: 2px 2px 0 2px;
  border: 1px solid #AAAAAA;
}

.type-hint {
  padding: 0 1px 0 4px;
  background: #969696;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.4rem;
  line-height: 0.75rem;
  letter-spacing: 2px;
}